<nav class="navbar-custom">
  <div class="container-fluid">
     <div class="header page-scroll">
                <a class="navbar-brand" href="index">
                   <span><img src="/images/my_logo.png" alt=""></span>
                    UnBore Me
                </a>
	</div><!--navbar-header close-->
    <div class="collapse navbar-collapse" id="content_details">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="signup" ><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#" data-toggle="modal" data-target="#login-modal"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul><!--navbar-right close-->
    </div><!--collapse navbar-collapse drop_menu close-->
    <div class="weather-app navbar-right">
    	<div>
		   <label>{{cityName}}</label>
			<img ng-src="http://openweathermap.org/img/w/{{icon}}.png">
			<span>{{cityTemp}} &#8457;</span>
		</div>
		<div class="change-city">
			<a href="#myModal" data-toggle="modal">change city</a>
		</div><!--weather-app close  -->
    </div>
  </div><!--container-fluid close-->
</nav><!--navbar navbar-inverse close-->

<!-- Modal -->
 <div class="modal fade" id="myModal" role="dialog" ng-init="modal_header='Enter the zipCode'">
    <div class="modal-dialog">
     <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{modal_header}}</h4>
        </div>
        <div class="modal-body">
          <input type="number" ng-model="zip"/>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="changeCity(zip)">OK</button>
        </div>
      </div>
      
    </div>
</div><!-- End of Modal -->

 
