/* Stylesheet for UnBore-Me application*/

body{
	font-family:"Arial, Helvetica, sans-serif";
	font-size:14px;
	
}

.logo{
	width:100px;
	height:100px;
}
.navbar-custom {
  background: #2C3E50;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  margin-bottom:20px;
  height:110px;
  color: white;
}
.header{
	color: white;
}
.weather-app{
	padding-right:20px;
}
footer .footer-below {
  text-align:center;	
  background-color: #233140;
  color:#FFF;
}
div.change-city{
	position:relative;
	top:-15px;
	left:10px;
}
div.change-city{
	font-size:12px;
	text-transform:lowercase;
	
}

div.change-city a,a:hover{
	outline:none;
	color:#276eaf;
}

/* Override the Bootstrap navbar style */
.navbar-custom .navbar-brand,.navbar-custom .navbar-brand:hover, .navbar-custom .navbar-brand
.navbar-custom .navbar-brand:focus{
  background-color: transparent;
  color: #FFF;
}

.navbar-custom .navbar-nav > li > a{
	color:#FFF;
}
.navbar-custom .navbar-nav > li > a:hover, .navbar-custom .navbar-nav > li > a:focus{
	background-color: transparent;
	color:#337ab7;
}

/*End*/


